.container{
    margin: 0 auto;
    width: 970px;
    background-color: grey;padding-left: 30px;
}

.ninja{
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}
button{
    width: 150px;
    height: 60px;
    margin-left: 390px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: lightgreen;
    color: white;
    font-size: 24px;
}

#bigninja{
    display: none;
    height: 400px;
    width:400px;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 10px solid black;
}